/* Global Styles */
.root {
    -fx-font-family: "Poppins"; 
    -fx-background-color: #f4f4f9;
}

/* Sidebar */
.sidebar {
    -fx-background-color: #2c3e50;
    -fx-padding: 20;
    -fx-min-width: 250px;
}

.sidebar-button {
    -fx-background-color: transparent;
    -fx-text-fill: #ecf0f1;
    -fx-font-size: 14px;
    -fx-alignment: center-left;
    -fx-cursor: hand;
    -fx-padding: 10;
}

.navbar {
    -fx-background-color: #2c3e50;
    -fx-padding: 10;
}

.navbar-button {
    -fx-background-color: transparent;
    -fx-text-fill: #ecf0f1;
    -fx-font-size: 14px;
    -fx-alignment: center-left;
    -fx-cursor: hand;
    -fx-padding: 10;
}

.sidebar-button:hover {
    -fx-background-color: #34495e;
}

/* Content Area */
.content-area {
    -fx-background-color: white;
    -fx-padding: 0; /* ScrollPane padding */
}

.content-area > .viewport {
    -fx-background-color: white;
}

.text-field, .text-field:active, .text-field:focus {
    -fx-font-family: "Poppins";
    -fx-font-size: 14;
    -fx-background-radius: 6;
    -fx-background-color: #fff;
    -fx-text-fill: #333;
    -fx-border-color: #ccc;

    /* remove border/shadow */
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: null;
}